{% load access_tags %}
{% is_authorized q.id request.user as authorized %}

{% for membership in memberships %}
  <tr>
    <td>
      {% if not membership.member.get_full_name %}
        {{ membership.member.username }}
      {% else %}
        {{ membership.member.get_full_name }}
      {% endif %}
      {% if membership.is_owner %}
        <span class="badge badge-default">owner</span>
      {% endif %}
    </td>
    <td>
      {{ membership.responsibility_in_dpia }}
    </td>
    <td width="15%">
      {% if authorized or membership.member == user %}
        <a class="btn btn-primary btn-xs js-edit" href="javascript:void(0)" data-url="{% url 'member_edit' q.id membership.id %}" title='Update the responsibility of "{{ membership.member }}"'><i class="fa fa-pencil fa-fw"></i></a>
      {% endif %}
      {% if authorized and not membership.is_owner %}
        <a class="btn btn-danger btn-xs js-delete" href="javascript:void(0)" data-url="{% url 'member_delete' q.id membership.id %}"  title='Remove "{{ membership.member }}" from team'><i class="fa fa-trash fa-fw"></i></a>
      {% endif %}
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="3" class="text-muted">
      <i class="fa fa-exclamation"></i> No users yet
    </td>
  </tr>
{% endfor %}
