<form class="js-delete-form" method="post" action="{% url 'delete_usecase' id=u.id %}">{% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Delete Use Case</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      Are you sure you want to delete <strong>{{u}}</strong>? All of the related processes will be deleted as well.
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-danger">Delete</button>
  </div>
</form>
