{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Reset Password | Data Protection Impact Assessment</title>
{% endblock %}

{% block h2_title %}Reset Password{% endblock %}

{% block p_text %}
  <p class="font-13 m-b-20">
    Enter your <strong>DPIA email address</strong> and we will send you a link to reset your password.
  </p>
{% endblock %}

{% block auth_content %}
  <form role="form" method="post" action="">{% csrf_token %}
    <div class="form-group">
      {{ form|crispy }}
    </div>
    <br/>
    <div class="form-group">
      <button type="submit" name="register" class="btn btn-primary btn-block submit">Send password reset email</button>
      <br/>
      <div class="separator">
        <p class="center">Back to
          <a href="{% url 'login' %}"><i class="fa fa-sign-in fa-fw"></i>Sign in</a>
        </p>
      </div>
    </div>
  </form>
{% endblock %}
