{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  <title>Reset Password | Data Protection Impact Assessment</title>
{% endblock %}

{% block h2_title %}Reset Password{% endblock %}

{% block auth_content %}
  <form role="form" method="post" action="">{% csrf_token %}
    {% if validlink %}
      <div class="form-group">
         {{ form|crispy }}
      </div>
      <br/>
      <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
    {% else %}
      <p>It looks like you clicked on an invalid password reset link. Please try again.</p>
      <br/>
      <a href="{% url 'password_reset' %}" class="btn btn-primary btn-block">Request a new password reset link</a>
    {% endif %}
  </form>
{% endblock %}
