{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}<title> Change password | Data Protection Impact Assessment </title>{% endblock %}

{% block panel_title %}Change Password{% endblock %}

{% block content %}
  <div class="col-md-5 col-sm-12 col-xs-12">
    <form method="post" action="">{% csrf_token %}
      <div class="form-group">
        {{ form|crispy }}
      </div>
      <br/>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Save changes</button>
      </div>
    </form>
  </div>
{% endblock %}
