<form class="js-add-form" method="post" action="{% url 'threat_add' q.id sa.id %}">{% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Add new Threat to {{sa}}</h4>
  </div>
  <div class="modal-body">
    {% for hidden in threat_form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
    {% for field in threat_form.visible_fields %}
      <div class="form-group {% if field.errors %}has-error{%endif%}">
        <label {% if field.errors %}class="help-block"{%endif%} for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
        {{ field }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
