{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}<title> Likelihood Assessment | Data Protection Impact Assessment </title> {% endblock %}

{% block panel_title %}Likelihood Assessment{% endblock %}

{% block p_text %}
{% endblock %}

{% block content %}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>#</th>
        <th>Affected Supporting Asset</th>
        <th>Threat</th>
        <th>
          <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="left" data-html="true" title="Level of vulnerability" data-content="
          <b>Negligible</b>: Carrying out a threat by exploiting the properties of supporting assets does not appear possible.
          <br/>
          <b>Limited</b>: Carrying out a threat by exploiting the properties of supporting assets appears to be difficult.
          <br/>
          <b>Significant</b>: Carrying out a threat by exploiting the properties of supporting assets appears to be possible.
          <br/>
          <b>Maximum</b>: Carrying out a threat by exploiting the properties of supporting assets appears to be extremely easy.">
          Level of vulnerability
          <i class="fa fa-info-circle"></i></a>
        </th>
        <th>
          <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="left" data-html="true" title="Risk source capability" data-content="
          <b>Negligible</b>: Risk sources do not appear to have any special capabilities to carry out a threat.
          <br/>
          <b>Limited</b>: The capabilities of risks sources to carry out a threat are limited.
          <br/>
          <b>Significant</b>: The capabilities of risk sources to carry out a threat are real and significant.
          <br/>
          <b>Maximum</b>: The capabilities of risk sources to carry out a threat are definite and unlimited.">
          Risk source capability
          <i class="fa fa-info-circle"></i></a>
        </th>
        <th>
          <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="left" data-html="true" title="Likelihood" data-content="
          <b>Likelihood</b> = Level of vulnerability of the supporting asset + Capability of the risk source for the exploitation of this vulnerability.">
          Likelihood
          <i class="fa fa-info-circle"></i></a>
        </th>
      </tr>
    </thead>
    <tbody>
      {{ threat_formset.management_form }}
      {% for form in threat_formset.forms %}
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        <tr>
          <td>
            {{ forloop.counter }}
          </td>
          <td>
            {{ form.instance.affected_supporting_asset }}
          </td>
          <td>
            {{ form.instance.threat }}
          </td>
          <td class="form-group {% if form.level_of_vulnerability.errors %}has-error{%endif%}">
            {{ form.level_of_vulnerability }}
            {% if form.level_of_vulnerability.errors %}
              <span class="help-block">{{ form.level_of_vulnerability.errors|striptags }}</span>
            {% endif %}
          </td>
          <td class="form-group {% if form.risk_source_capability.errors %}has-error{%endif%}">
            {{ form.risk_source_capability }}
            {% if form.risk_source_capability.errors %}
              <span class="help-block">{{ form.risk_source_capability.errors|striptags }}</span>
            {% endif %}
          </td>
          <td>
            {% with likelihood=form.instance.level_of_vulnerability|add:form.instance.risk_source_capability %}
              {% if likelihood < 5 %}
                <span class="label label-negligible">Negligible</span>
              {% elif likelihood == 5 %}
                <span class="label label-limited">Limited</span>
              {% elif likelihood == 6 %}
                <span class="label label-significant">Significant</span>
              {% elif likelihood > 6 and likelihood <= 10 %}
                <span class="label label-danger">Maximum</span>
              {% else %}
                <!-- empty -->
              {% endif %}
            {% endwith %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6" class="text-muted bg-warning">
            <i class="fa fa-chevron-left fa-fw"></i> Go back and add Threats.
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block paginator_buttons %}
  <div class="paginator_panel">
    <a href="{% url 'threat_identification' q_id=q.id %}" class="pull-left btn btn-default"><i class="fa fa-chevron-left fa-fw"></i> Previous</a>
    <button type="submit" class="btn btn-primary pull-right loading_button" data-loading-text="<i class='fa fa-spinner fa-pulse fa-fw'></i> Saving...">Save and continue <i class="fa fa-chevron-right fa-fw"></i></button>
  </div>
{% endblock %}
